<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GreedySnackMVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3467D37D1F4C0AF30052AFED</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>3467D3961F4C0AF30052AFED</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>3467D3BF1F4E83680052AFED</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
